h1{
	text-align:center;
	color: #fffafa;
    font-family: Copperplate;
}
.intro{
	text-align:center;
	color:#2f4f4f;
	font-family:Cursive;
}
.head1{
	font-family:Cursive;
	font-size:20px;
	border:3px solid black;
}
.t1{
	padding-right:10px;
	margin-right:10px;
}
.t2{
	padding-left:10px;
	margin-left:10px;
}
.c1{
	border:1px solid black;
}